<form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
  <div *ngIf="submitSuccess" class="alert alert-success">Thank you for reaching out to us! We will get back to you as soon as possible.</div>
  <div *ngIf="submitFail" class="alert alert-danger">Oops! Looks like there are some errors in the form. Please correct these and try again.</div>
  <div *ngIf="sendFail" class="alert alert-warning">Oops! This message failed to send, please try again.</div>
  <div class="form-row">
    <div class="form-group col-md-6 col-sm-12">
      <label for="fullName">Full Name</label>
      <input type="email" class="form-control" [ngClass]=" (!this.contactForm.controls.fullName.touched || this.contactForm.controls.fullName.valid) ? '' : 'is-invalid'" id="fullName" formControlName="fullName">
      <div class="invalid-feedback">
        {{this.contactForm.controls.fullName.errors | json}}
      </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" [ngClass]=" (!this.contactForm.controls.phone.touched || this.contactForm.controls.phone.valid) ? '' : 'is-invalid'">
      <div class="invalid-feedback">
        {{this.contactForm.controls.phone.errors | json}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Your email" formControlName="email" [ngClass]=" (!this.contactForm.controls.email.touched || this.contactForm.controls.email.valid) ? '' : 'is-invalid'">
    <div class="invalid-feedback">
      {{this.contactForm.controls.email.errors | json}}
    </div>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea  class="form-control" id="message" placeholder="Please enter message here" formControlName="message" [ngClass]=" (!this.contactForm.controls.message.touched || this.contactForm.controls.message.valid) ? '' : 'is-invalid'"></textarea>
    <div class="invalid-feedback">
      {{this.contactForm.controls.message.errors | json}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Send Message</button>
</form>
